
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@font-face {
    font-family: myFont;
    src: url(/images/TESLA.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* overflow-y: hidden;  */
    scroll-behavior: smooth;
}

.video-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.302), rgba(0, 0, 0, 0));
    backdrop-filter: blur(3px);
}

.logo {
    top: 10px;
    font-size: 350%;
    font-family: "Fugaz One", sans-serif; 
    color: #fff;
    user-select: none;
    
}


.navbar a {
    position: relative;
    font-size: 110%;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.title{
    color: #fff;
    top: 300px;
    margin: 0;
    padding: 10px;
    position: relative;
    text-align: center;
    justify-content: space-between;
    font-weight: 400;
    letter-spacing: 1px;
    z-index: 1;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63vh; 
    overflow: hidden;
    
}
.search_box {
    width: 70%;
    position: relative;
    left: 330px;
    
}

.search_box input[type="text"]{
    width: 50%;
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.042);
    border: 2px solid #fff;
    border-radius: 10px;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 18px;
    color: white;
    outline: none;
}
.search_box input[type="text"]:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.635);
    transition: box-shadow .20s ease;
    
}


::-webkit-input-placeholder{
    color: #fff;
}
::-moz-placeholder{
    color: #fff;
}
::-ms-input-placeholder{
    color: #fff;
}
::-webkit-scrollbar {
    width: 0;  
    height: 0; 
}


::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

::-webkit-scrollbar-track {
    background-color: transparent; 
}
.icons{
    position: absolute;
    top: 45%;
    padding: 0 9;
    left: 120px;
    transform: translate(-50%);
}
.icons a {
    text-decoration: none; 
}
.icons i{
    display: block;
    margin: 40px 0;
    font-size: 36px;
    color: #fff;
    transition: all .50s ease;

}

.icons i:hover{
    transform: translate(-10px);
}

.about-header {
    color: #fff;
    padding: 20px; 
    text-align: center; 
    font-family: 'Tilt Neon', sans-serif;   
}
h1{
    padding: 20px;
}

.about-logo{
    color: #fff;
    text-align: center;
    justify-content: left;
    left: 35px;
    font-size: 300%;
    font-family: "Exo 2", sans-serif;

}

.about-content {
    background-image: url('images/samuele-errico-piccarini-FMbWFDiVRPs-unsplash.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-text {
    color: #fff; 
    text-align: center; 
    font-size: 35px;
    position: relative;
    width: 1500px;
    top: -180px;
    text-shadow: 0 2px 4px rgba(247, 243, 243, 0.672);
    font-family: "Exo 2", sans-serif;
    cursor: pointer;    
}

/* Set up the background */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/sky.jpg"); /* Add your background image path */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure the background is behind other content */
}


.car-container {
    max-width: 1200px; /* Adjust as needed */
    margin: 100px auto 0 auto; /* Center horizontally and add top margin */
    padding: 20px; /* Add padding for better spacing */
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.car-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.car-box {
    background-color: rgba(13, 12, 12, 0.607);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.306);
    text-align: center;
    width: 320px; /* Increase the width */
    height: auto; 
    transition: transform 0.3s ease-in-out;
}
.car-box:hover{
    transform: scale(1.05); 
}
.car-box img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.car-info h2,
.car-info p {
    color: #fff;
    margin-bottom: 5px;
}

@media (max-width: 1200px) {
    .car-row {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 768px) {
    .car-row {
        grid-template-columns: repeat(2, 1fr); 
    }
}
















